/* Like button text color */
div.like, div.like div {display:none;}

/* Comemnts box text color */
div.comment_body div.composer div.connected {color:#eee; background: black;}
div.comment_body div.composer div.connected div.UIImageBlock_Content {color:#fff; background: black;}
div.comment_body div.composer div.connected span.namelink a {color:#ffc6ff; background: black;}
div.comment_body div.post_area div.connected label {color:#ccc; background: black;}
div.comment_body div.show_connected a.editsettings {color:#ffc6ff; background: black;}
div.comment_body div.wallkit_postcontent h4 {color:#ffffff; background: black;}
div.comment_body div.wallkit_postcontent h4 a {color:#ffffff; background: black;}
div.comment_body div.wallkit_postcontent h4 span.wall_time {color:#ffffff;} background: black;
div.comment_body div.wallkit_postcontent div {color:#ffffff; background: black;}
div.comment_body div.wallkit_postcontent div a {color:#efefef; background: black;}
div.comment_body div.wallkit_actionset a {color:#ffc6ff !important; background: black;}
div.comment_body div.wallkit_subtitle div.post_counter {color:#fff; background: black;}
div.comment_body div.wallkit_subtitle div.pager a {color:#ffc6ff; background: black;}
div.comment_body div.wallkit_subtitle div.pager a:hover {color:#fff; background: black;}
div.comment_body div.connect_area div.or {color:#eee; background: black;}
div.comment_body div.connect_area div.connect_button_text {color:#eee; background: black;}
div.comment_body div.wall_captcha {color:#eee; background: black;}
div.comment_body div.wall_captcha h3 {color:#eee; background: black;}
div.comment_body div.wall_captcha a {color:#ffc6ff; background: black;}
div.comment_body div.wall_captcha label {color:#eee; background: black;}
div.content {background: black;}

textarea.uiTextareaAutogrow {background: black; color: white}